/* src/pages/MovieDetails.css */

.movie-details {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background: var(--card-background);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    object-fit: cover;
}

.movie-details h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}

.movie-details p {
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--text-color-light);
    padding: 0 20px;
}

/* Dark mode styles */
body.dark-mode .movie-details {
    background: var(--card-background-dark);
    color: var(--text-color-dark);
}

body.dark-mode .movie-details h1,
body.dark-mode .movie-details p {
    color: white;
}
